.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#walletConnect button {
  background-color: #ff31f8;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 0), #0751bf);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-family: "Chakra Petch", sans-serif;
  font-size: medium;
  font-weight: 550;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  height: 40px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#walletConnect button:hover {
  background-color: #0751bf;
  transform: scale(0.94);
}
